In [21]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
corrup = pd.read_excel('corrupção.xls')

In [31]:
corrup.tail(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
259,Kosovo,XKX,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
260,"Yemen, Rep.",YEM,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,2.5,2.5,2.0,2.0,2.0,1.5,1.5,1.5
261,South Africa,ZAF,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Zambia,ZMB,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,2.5,2.5,3.0,3.0,3.0,3.0,3.0,3.0
263,Zimbabwe,ZWE,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.5,1.5,1.5,1.5,1.5,1.5,2.0,2.0,2.0

In [36]:
corrup = corrup.loc[:, ['Country Name', "2015"]]
corrup = corrup.rename(columns = {2015:'Corrupção em 2015'})

corrup_nam=corrup.dropna()

corrup_idx=corrup_nam.set_index("Country Name")
corrup_idx

                                                        2015
Country Name
Afghanistan                                         2.000000
Arab World                                          2.200000
Burundi                                             2.000000
Benin                                               3.500000
Burkina Faso                                        3.500000
Bangladesh                                          2.500000
Bolivia                                             3.000000
Bhutan                                              4.500000
Central African Republic                            2.500000
Cote d'Ivoire                                       3.000000
Cameroon                                            2.500000
Congo, Dem. Rep.                                    2.000000
Congo, Rep.                                         2.000000
Comoros                                             2.500000
Cabo Verde                                          4.500000
Caribbean small states                              3.900000
Djibouti                                            2.500000
Dominica                                            4.000000
East Asia & Pacific (excluding high income)         3.133333
Early-demographic dividend                          3.016667
East Asia & Pacific                                 3.133333
Europe & Central Asia (excluding high income)       2.600000
Europe & Central Asia                               2.600000
Eritrea                                             2.000000
Ethiopia                                            3.000000
Fragile and conflict affected situations            2.516667
Micronesia, Fed. Sts.                               3.500000
Ghana                                               3.500000
Guinea                                              2.500000
Gambia, The                                         2.000000
...                                                      ...
Sub-Saharan Africa (excluding high income)          2.710526
South Sudan                                         1.500000
Sub-Saharan Africa                                  2.710526
Small states                                        3.347826
Sao Tome and Principe                               3.500000
Chad                                                2.500000
East Asia & Pacific (IDA & IBRD countries)          3.133333
Europe & Central Asia (IDA & IBRD countries)        2.600000
Togo                                                2.500000
Tajikistan                                          2.500000
Latin America & the Caribbean (IDA & IBRD count...  3.444444
Timor-Leste                                         2.500000
Middle East & North Africa (IDA & IBRD countries)   2.000000
Tonga                                               3.500000
South Asia (IDA & IBRD)                             3.000000
Sub-Saharan Africa (IDA & IBRD countries)           2.710526
Tuvalu                                              3.500000
Tanzania                                            3.000000
Uganda                                              2.000000
Upper middle income                                 3.700000
Uzbekistan                                          2.000000
St. Vincent and the Grenadines                      4.000000
Vietnam                                             3.000000
Vanuatu                                             3.000000
World                                               2.881579
Samoa                                               4.000000
Kosovo                                              3.000000
Yemen, Rep.                                         1.500000
Zambia                                              3.000000
Zimbabwe                                            2.000000

[115 rows x 1 columns]

In [38]:
corrup_idx.to_excel('corrup_limpo.xlsx')