In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import re

## Análise exploratória dos dataset base de hapiness score

# Objetivo: 

A partir de um dataset de hapiness score feito a partir de perguntas para a população, vamos fazer uma regressão para que possamos ter uma fórmula que meça o hapiness score com base em  dados concretos.

In [37]:
dataset = pd.read_csv('hapiness_score_2015.csv')
dataset.head(10)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646

In [55]:
h = dataset.loc[:,]
data_idx=h.set_index("Country")
data_idx.head()

,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
Country,,,,,,,,,,,
Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [57]:
gdp = pd.read_excel('GDP_lido.xlsx')
gdp.head()

i = gdp.loc[:,]
gdp_idx = i.set_index('País')
gdp_idx.head()

             GDP em 2015
País
Afghanistan         2.11
Albania             3.82
Algeria             2.10
Andorra             0.00
Angola              2.46

In [60]:
df = gdp_idx.join(data_idx, how='inner')

ter = df.loc[:,['GDP em 2015', 'Happiness Score']]

ter.head()

             GDP em 2015  Happiness Score
Afghanistan        2.110            3.575
Albania            3.820            4.959
Algeria            2.100            5.605
Angola             2.460            4.033
Argentina         -0.128            6.574

In [68]:
exp = pd.read_excel('expecativa.xlsx')
exp.head()

exp_2015 = exp.loc[:,['Life expectancy', 2015]]
exp_better_2015 = exp_2015.dropna()
exp_better_2015.head()

expp = exp_better_2015.rename(columns={2015:'Expectativa de vida'})

exp_idx = expp.set_index('Life expectancy')

dff = ter.join(exp_idx, how='inner')

dff

                          GDP em 2015  Happiness Score  Expectativa de vida
Afghanistan                     2.110            3.575                 53.8
Albania                         3.820            4.959                 78.0
Algeria                         2.100            5.605                 76.4
Angola                          2.460            4.033                 59.6
Argentina                      -0.128            6.574                 76.5
Armenia                         4.290            4.350                 74.7
Australia                       1.490            7.284                 82.3
Austria                         1.310            7.200                 81.3
Azerbaijan                      3.780            5.212                 72.9
Bahrain                         1.230            5.960                 79.1
Bangladesh                      5.410            4.694                 70.4
Belarus                         3.010            5.813                 71.0
Belgium                         0.781            6.937                 80.5
Benin                           2.590            3.340                 62.3
Bhutan                          7.340            5.253                 72.7
Bolivia                         3.040            5.890                 73.2
Bosnia and Herzegovina          3.410            4.949                 78.9
Botswana                        3.170            4.332                 58.7
Brazil                          1.810            6.983                 74.4
Bulgaria                        3.020            4.218                 74.8
Burkina Faso                    4.610            3.587                 60.9
Burundi                         2.340            2.905                 61.4
Cambodia                        6.250            3.819                 69.4
Cameroon                        2.490            4.252                 59.4
Canada                          1.340            7.427                 81.7
Central African Republic        3.270            3.678                 49.6
Chad                            4.710            3.667                 57.4
Chile                           3.150            6.670                 79.4
China                           6.750            5.140                 76.2
Colombia                        3.250            6.477                 78.0
...                               ...              ...                  ...
South Africa                    1.290            4.642                 61.3
South Korea                     3.350            5.984                 81.0
Spain                           1.190            6.329                 82.6
Sri Lanka                       5.780            4.271                 77.6
Sudan                           1.980            4.550                 67.5
Suriname                        3.050            6.269                 72.0
Swaziland                       0.878            4.867                 51.8
Sweden                          1.760            7.364                 82.1
Switzerland                     1.610            7.587                 83.0
Syria                           0.000            3.006                 68.2
Tajikistan                      3.570            4.786                 72.4
Tanzania                        3.880            3.781                 64.1
Thailand                        3.310            6.455                 74.7
Togo                            3.280            2.839                 61.5
Trinidad and Tobago             1.680            6.168                 72.4
Tunisia                         3.160            4.739                 77.6
Turkey                          1.970            5.332                 79.2
Turkmenistan                   10.700            5.548                 70.0
Uganda                          3.350            3.931                 61.3
Ukraine                         0.000            4.681                 71.5
United Arab Emirates            1.150            6.901                 75.4
United Kingdom                  1.790            6.867                 81.0
United States                   2.150            7.119                 79.1
Uruguay                         2.640            6.485                 76.8
Uzbekistan                      5.240            6.003                 71.8
Venezuela                      -2.520            6.810                 74.8
Vietnam                         4.610            5.360                 75.4
Yemen                           1.390            4.077                 66.0
Zambia                          3.650            5.129                 56.7
Zimbabwe                        3.330            4.610                 59.3

[145 rows x 3 columns]