In [125]:
import pandas as pd
import numpy as np

In [126]:
data = pd.read_excel('dataset2015.xlsx')
data_teste= pd.read_excel('dataset2016.xlsx')

In [127]:
data.head()

,Happiness Score,Expectativa de vida,GDP em 2015,Corrupção 2015,Inflação 2015
Afghanistan,3.575,53.8,2.110,11,2.432017
Albania,4.959,78.0,3.820,36,0.563993
Algeria,5.605,76.4,2.100,36,-6.571977
Angola,4.033,59.6,2.460,15,-3.980898
Argentina,6.574,76.5,-0.128,32,26.579992

In [128]:
happiness = np.array(data['Happiness Score'])
# Remove the happiness score from the features
# axis 1 refers to the columns
data= data.drop('Happiness Score', axis = 1)
# Saving feature names for later use
data_list = list(data.columns)
# Convert to numpy array
data = np.array(data)

In [129]:
train_data = data
train_happiness = happiness

In [130]:
data_teste= pd.read_excel('dataset2016.xlsx')

In [131]:
data_teste.head()

,Happiness Score,Corrupção 2016,Expectativa de vida em 2016,GDP em 2016,Inflação em 2016
Denmark,7.526,90,80.5,1.340,-0.046444
Switzerland,7.509,86,83.1,1.400,-0.566144
Iceland,7.501,78,83.3,2.480,2.113045
Norway,7.498,85,82.0,0.861,-1.114070
Finland,7.413,89,80.9,1.130,0.790899

In [132]:
happiness2016 = np.array(data_teste['Happiness Score'])
# Remove the happiness score from the features
# axis 1 refers to the columns
data_teste= data_teste.drop('Happiness Score', axis = 1)
# Saving feature names for later use
data_teste_list = list(data_teste.columns)
# Convert to numpy array
data_teste = np.array(data_teste)

In [133]:
teste_data = data_teste
teste_happiness = happiness2016

In [134]:
print(teste_data.shape, teste_happiness.shape, train_data.shape, train_happiness.shape)

(134, 4) (134,) (136, 4) (136,)

In [135]:
from sklearn.ensemble import RandomForestRegressor

# Instantiate model 
rf = RandomForestRegressor(n_estimators= 1000, random_state=42)

# Train the model on training data
rf.fit(train_data, train_happiness);

In [136]:
predictions = rf.predict(teste_data)

# Calculate the absolute errors
errors = abs(predictions - teste_happiness)

# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2))

Mean Absolute Error: 1.18

In [137]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / teste_happiness)

# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 79.76 %.